@import "compass/css3";




*, 
*:before, 
*:after {
   include: box-sizing(border-box); 
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
 
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
}
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
    
  }
    
  
  #input-submit {
     color: white; 
     background: red;
     cursor: pointer;
    
   
  }
  
  textarea {
      height: 126px;
  }



.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

footer{
   background-color: #446084;
   width: 100%;
   color: #fff;
}

footer .row{   
   margin-top: 50px; 
   box-sizing: border-box;
   width: 100%;
   padding: 30px 0 ;
}

footer .row .col-4{
   padding: 0 100px;
   /* margin: 0 20px; */
}
footer .row .col-4 a{
   display: block;
   margin: 20px 0;
   color: #fff;
}
footer .row .col-4 h4{
   font-weight: 400;
}
footer .row .col-4 i{
   margin-right: 10px;
}
footer .col2 h4{
   text-align: center;
}
footer .row .col2 a{
   margin-left: 90px;
}
footer .row .col-4 img{
   width: 40%;
}



@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

