*{
    margin: 0 auto ;    
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/logo/4bivpnvyr8lj16w5.jpg);
    background-size: cover;
    background-position: center;
}
.wrapper {
    
}

a{
    text-decoration: none !important; 
    color: #000;
}
ul li{
    list-style: none;
    position: relative;
}
ul li:hover{
    color: gray;
}
ul li::before{
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #000;   
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: scale(0);
}
ul li:hover::before{
    animation: animatedAccount 1s 1;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
    line-height: 100px;
    padding:0 50px;
    z-index: 2;
    background: rgba(248, 248, 248, 0.807);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
    transition: all 0.2s ease-out;
}


.logo{
    width: 20%;
}
.logo a{
    display: flex;
    justify-content: space-around;
}
.logo a span{
    width: 100%;
    font-size: 40px;
    margin-left: 0;
    color: #121212BF;
    font-weight: lighter;
}
nav{
    width: 70%;
    display: flex;    
    justify-content: space-between;
    
}
.account{
    width: 10%;
    font-size: 20px;
    color: #121212BF;
    border-radius: 3px;
    cursor: pointer;
}


.btn-account {
    width: 90%;
    padding: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
}
.btn-account:hover .account-list{
    display: block;
}
.account-list{
    width: 300px;
    height: 300px;
    display: none;
}
.account-list  li {
    margin-left: -30px;
    width:55%;
    text-align: center      ;
    color: #fff;
    background: rgba(248, 248, 248, 0.807);
}
.account-list  li:last-child {
    border-radius: 0 0 4px 4px;
}

.signOut{
    display: none;
    font-size: 30px;
}

.search-cart{
    width:20%;
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.search{
    width: 50%;
}
.cart{
    width: 50%;
}
.search i{
    font-size: 25px;
}
.cart i{
    font-size: 25px;
}
.menu{
    margin-bottom: 0;
    width:80% ;
    display: flex;
    margin-left: -80px;
    justify-content: space-around;
}
.menu  li {
    margin: 0 10px;
    margin-bottom: 0;
}
.menu li a{
    font-size: 20px;
}
.fa-bars{
    display: none;
}
.sticky{
    height: 80px;
    line-height: 80px;
    background-color: #000;
    /* background-color: #446084; */
    opacity: 0.8;
}
.sticky .logo a span {
    color: #fff;
}
.sticky li a{
    color: #fff;
}

.sticky .search i{
    color: #fff;
}
.sticky .cart i{
    color: #fff;
}
.sticky .account{
    color: #fff;
}

.sticky .account  li {
    background: #000;
    opacity: 0.8;
    /* transition: all 0.5s; */
    
}

.sticky ul li::before{
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #c5bcbc;   
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: scale(0);
}



/* form */

.form{
    text-align: center;
    margin-top: 150px;
    height: 500px;
    width: 550px;
    background-color: #000;
    opacity: 0.8;
    border-radius: 3px;
}
.form h3{
    /* margin-top: 90px; */
    display: block;
    line-height: 100px ;
    color:#fff;
    font-size: 35px;
}
.form-body{
    position: relative;
    width: 70%;
}
.form input{
    background-color: transparent;
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.form input::placeholder{
    color: #f5f5f5;
}
.form i{
    color: #fff;
    display: inline;
    cursor: pointer;
}
.form .pas{
    position: absolute;
    top: 165px;
    right: 0px;
    /* z-index: 2; */
}
.form p{
    text-align: left;
    margin-left: 30px;
    height: 15px;
}
.form #hidden2{
    display: none;
}
.form #hidden1{
    display: inline;
}
.form .confirmPas{
    position: absolute;
    top: 220px;
    right: 0px;
}
.form #hidden4{
    display: none;
}
.form #hidden3{
    display: inline;
}
.form .form-footer a{
    margin-top: 10px;
    text-align: right;
    margin-right: 30px;
    color: #fff;
    display: block;
}
.form .form-footer button{
    margin-bottom: 30px;
    width: 60% ;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    height: 40px;
}
.form .form-footer button:hover{
    border: 1px solid #446084;
    transition: all 0.3s;
}


/* footer */
footer{
    margin-top: 100px;
    background-color: #446084;
    width: 100%;
    color: #fff;
}

footer .row{   
    margin-top: 50px; 
    box-sizing: border-box;
    width: 100%;
    padding: 30px 0 ;
}

footer .row .col-4{
    padding: 0 100px;
    /* margin: 0 20px; */
}
footer .row .col-4 a{
    display: block;
    margin: 20px 0;
    color: #fff;
}
footer .row .col-4 h4{
    font-weight: 400;
}
footer .row .col-4 i{
    margin-right: 10px;
}
footer .col2 h4{
    text-align: center;
}
footer .row .col2 a{
    margin-left: 90px;
}
footer .row .col-4 img{
    width: 40%;
}

@keyframes animatedAccount{
    0%{
        transform: scale(0,1);
    }
    50%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(0,1);
    }
}

@media only screen and (max-width:768px){
    .wrapper{
        /* max-width: 768px; */
    }
    .header {
        position: fixed;
    }
    .logo {
        width: 70%;
    }
    nav{
        position: absolute;
        top: 100px;
        /* bottom: 0; */
        left: 50px;
        display: flex;
        justify-content: space-between;
    }
    .menu{
        justify-content: space-around;
        flex-direction: column;
        display: none;
        transition: all 0.3s;
    }
    .menu li {
        display: block;
        height: 45px;
        line-height: 45px;
        color: #000;
    }
    .menu li a{
        font-size: 16px;
    }
    .fa-bars{
        padding: 0;
        position: absolute;
        /* top: 60px; */
        bottom: 0;
        left: 15px;
        display: block;
        font-size: 20px;
        /* display: none; */
    }
    .sticky .menu{
        background-color: #000;
    }
    .sticky .menu li a{
        color: #fff;
    }
    .sticky li a{
        color: #000;
        font-size: 16px;
    }
    .sticky1{
        margin-top: -25px;
    }
    .search-cart {  
        position: absolute;
        top: -65px;
        right: -20px;
        height: 10px;
        /* display: none; */
    }
    .sticky2{
       top: -70px;
    }
    .search i {
        margin-right: 20px;
        font-size: 18px;
    }
    .cart i {
        margin-left: 20px;
        font-size: 18px;
    }
    .account {
        width: 30%;
        margin-right: -35px;
        margin-top: 5px;
        font-size: 18px;
    }

    .btn-account{
        font-size: 16px;
        height: 25px;
        line-height: 25px;
    }
    .account-list{
        display: none;
    }
    .account-list li{
        margin-left: -30px;
        width: 30%;
    }
    .account-list li a{
        font-size: 16px;
        
    }
    .sticky .account-list{
        margin-top: -5px;
    }
    .sticky  .account-list li a{
        color: #fff;
    }



    .form{
        width: 350px;
    }
}



@keyframes animatedByNow{
    0%{
        transform: scale(1,0);
    }
    100%{
        transform: scale(1,1);
    }
}